@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="notehowclientthink">
    The Client was my first pet project in HTML , so i want to complete by my best although i am still a fresher .
    <br>
    I hope you will enjoy my project and give me more about your feeling and love you all
</section>
