@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="headertdl">
        TO DO LIST
        <input id="title" style="color:rgb(146, 130, 130);" type="text"
               placeholder="Enter your title...">
        <button id="btnadd" style="color:rgb(148, 135, 135);">ADD</button>
    </div>
    <ul class="minitodo">
        <li id="id_list" class="list">
            Learning English
            <span class="material-symbols-outlined">
                backspace
            </span>
        </li>
    </ul>
</section>
<script src="~/js/Index.js" asp-append-version="true"></script>


