
@{
	ViewData["Title"] = "Sumbit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<p id="noteSubmit">" User Wrong ! Please enter agian " </p>
<a class="buttonback" asp-area="" asp-controller="User" asp-action="SignIn">X</a>

