@{
	ViewData["Title"] = "Sumbit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<p id="noteSubmit">" Sign Up Complete ! Thank for join with us " </p> 	
<a class="buttonback" asp-area="" asp-controller="User" asp-action="SignIn">X</a>

